body {
	background: #11111;
}

h1 {
    color: pink;
    text-align: center;
    font-size: 50px;
    font-family: ;
    padding: 0px;
    margin: 80px 0 0 0;
}

h2 {
    color: black;
    text-align: center;
    font-size: 30px;
    margin: 0 0 0 0;
}

#role {
    color: white;
    background: blue;
}

h3 {
    color: darkblue;
}

h4 {
    color: darkcyan;
}