@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,600&family=Lato&family=Open+Sans:wght@300&family=Timmana&display=swap');

body {
	background: #11111;
}

img {
    width: 100%;
    height: auto;
}

.coverImg {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.coverH1 {  /* KL */
    color: rgb(255, 166, 2);
    font-size: 75px;
    font-family: 'Timmana', sans-serif;
    background: rgba(242, 194, 140, 0.8);
    padding: 15px 15px 28px 15px;
    position: absolute;
    top: 230px;
    left: 190px;
    
}

.coverH2 { /* PE */
    color: rgb(255, 166, 2);
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 350px;
    left: 215px;
}

h3 { /* Sections */
    margin: 30px 0 20px 80px;
    color: rgb(22, 59, 79);
    font-size: 26px;
    font-family: 'Lato', sans-serif;
}

h4 { /* Project */
    margin: 0 120px 0 120px;
    color: rgb(67, 174, 232);
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}

#role {
    color: white;
    background: rgb(67, 174, 232);
    font-size: 18px;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    margin: 80px 80px 80px 80px;
    padding: 50px 50px 50px 50px;
}

.grid-layout {
    display: grid;
    grid-template-columns: auto 80%;
    width: 90%;
    margin:  0 200px 20px 200px;
    
    
}

.description {
    font-size: 16px;
    text-align: justify;
    color: black;
    margin: 0 200px 10px 80px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    font-size: 16px;
    text-align: justify;
    color: black;
    margin: 0 90px 80px 90px;
    font-family: 'Open Sans', sans-serif;
}

.projectImg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}